@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
}
.print a{
    color: hsl(218, 52%, 39%) !important;
}

.container{
    padding: 8vw 1.5vw 1.5vw 1.5vw;
}
a{
    text-decoration: underline;
    color: hsl(203, 57%, 53%);
}
h1{
    color: hsl(218, 52%, 39%);
    font-size: 1.3em;
    font-weight: 700;
    margin: -10px;
}
p,p *,li,ul{
    line-height: 170%;
    font-weight: 500;
    font-size: .9rem;
}

.card{
    display:inline-block;
    margin: 0px;
    padding: 9vw 7vw 3vw 9vw;
    border-radius: 3vw;
    margin-bottom: 20px;

}
@media screen and (max-width: 960px) {
    .card{
        box-shadow: 0px 0px 20px 0.5vh rgba(10, 44, 90, 0.074) ;
    }
}
@media screen and (min-width: 960px) {
    *{
        background-color: #292b2c;

    }
    .container, .container *{
        background-color: #21252B;
        color: hsl(219, 41%, 84%);
    }
    .container {

        padding: 2vw 2vw 2vw 2vw;
        margin: auto;
        margin-top: 10vh;
        margin-bottom: 10vh;
        width: 50%;
        /* border: 3px solid green; */
        border-radius: 35px;
        box-shadow: 10px 10px 40px 0px #000000ff, -10px -10px 65px -20px #ffffff50 ;
        max-width: 80ch;
    }
    h1{
        color: hsl(218, 62%, 52%) !important;
        font-size: 2rem;
        font-weight: 700;
    }
    p,p *{
        font-weight: 500;
        font-size: 1.0rem;
    }
    a{
        text-decoration: underline;
        font-weight: 700;
         color: rgb(116, 215, 226) !important;

    }
    .card, .card *{
        background-color:#1E2228;
    }
    .card{
        display:inline-block;
        margin: 0px;
        padding: 55px 55px 30px 55px;
        border-radius: 2vw;
        margin-bottom: 2vh;
    }
  }

  @media screen and (max-width: 340px) {
      
    h1{
        font-size: 1rem;
    }
    p,p *,li,ul{
        font-size: .7rem;
    }
  }
