@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.container{
    padding: 8vw 5vw 5vw 5vw;
}
a{
    text-decoration:none;
    color: hsl(203, 57%, 53%);
}
h1{
    color: hsl(218, 52%, 39%);
    font-size: 1.5rem;
    font-weight: 700;
    margin: -10px;
}
p,p *{
    font-weight: 500;
    font-size: 0.8rem;
}
@media screen and (min-width: 700px) {
    *{
        background-color: #292b2c;

    }
    .container, .container *{
        background-color: #21252B;
        color: hsl(219, 41%, 84%);
    }
    .container {

        padding: 5vw 5vw 5vw 5vw;
        margin: auto;
        margin-top: 10vh;
        margin-bottom: 10vh;
        width: 50%;
        /* border: 3px solid green; */
        border-radius: 35px;
        box-shadow: 20px 20px 50px 15px #000000, -10px -10px 25px 1px #ffffff30 ;
        max-width: 65ch;
    }
    h1{
        color: hsl(218, 62%, 52%) !important;
        font-size: 2rem;
        font-weight: 700;
    }
    p,p *{
        font-weight: 500;
        font-size: 0.8rem;
    }
    a{
        font-weight: 700;
         color: rgb(116, 215, 226) !important;

    }
  }